body {
    text-align: center;
    background-color: #1a1a1d;
    height: 100vh;  
}

.gameBoard {
    margin: 20pt 0;
}
.headerContainer {
    width: 100%;
    border-bottom: 2px solid rgba(220, 220, 220);
}

.headContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 95%;
}

h1 {
    font-size: 30pt;
    margin: 0;
    padding: 10pt;
    color: gainsboro;
}

.reset {
    width: 35pt;
    filter: invert(90%);
}
.reset:hover {
    filter: invert(60%);
}
.reset:active {
    filter: invert(30%);
}

.help {
    width: 40pt;
    filter: invert(90%);
}
.help:hover {
    filter: invert(60%);
}
.help:active {
    filter: invert(30%);
}

.dots {
    width: 550px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10pt 0;
}

.dots > img:hover {
    filter: invert(30%);
    border: 2px solid rgb(250, 249, 249);
    cursor: pointer;
}

.start {
    width: 550px;
    border: 2px solid rgba(220, 220, 220, .5);
}

.dots > img {
    border: 2px solid rgba(220, 220, 220, .5);
    border-radius: 100px;
}

.puzzle {
    position: relative;
    width: 550px;
    margin: auto;
}
.answer {
    position: absolute;
    /* border: 2px solid rgba(0, 0, 0, .25); */
    width: 75pt;
    height: 75pt;
    border-radius: 100pt;
}

#first {
    position: absolute;
    right: 155pt;
    top: 30pt;
}
#second {
    position: absolute;
    right: 32pt;
    top: 48pt;
}
#third {
    position: absolute;
    left: 92pt;
    bottom: 114pt;
}
#fourth {
    position: absolute;
    left: 25pt;
    top: 130pt;
}
#fifth {
    position: absolute;
    right: 56pt;
    bottom: 148pt;
}

@media only screen and (max-width: 550px) {
    h1 {
        font-size: 20pt;
        margin: 0;
        padding: 10pt;
    }
    .reset {
        width: 30pt;
    }
    
    .help {
        width: 35pt;
    }
    .start {
        width: 300px;
    }
    .dots {
        width: 300px;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10pt 0;
    }
    .dots > img {
        width: 50px;
    }
    .puzzle {
        position: relative;
        width: 300px;
        margin: auto;
    }
    .answer {
        position: absolute;
        width: 45pt;
        height: 45pt;
        border-radius: 100pt;
    }
    #first {
        position: absolute;
        right: 80pt;
        top: 12pt;
    }
    #second {
        position: absolute;
        right: 12pt;
        top: 21pt;
    }
    #third {
        position: absolute;
        left: 47pt;
        bottom: 63pt;
    }
    #fourth {
        position: absolute;
        left: 11pt;
        top: 66pt;
    }
    #fifth {
        position: absolute;
        right: 26pt;
        bottom: 82pt;
    }
}