body {
    text-align: center;
    background-color: #1a1a1d;
    height: 100vh;  
}

.gameBoard {
    margin: 20pt 0;
}
.headerContainer {
    width: 100%;
    border-bottom: 2px solid rgba(220, 220, 220);
}

.headContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 95%;
}

h1 {
    font-size: 30pt;
    margin: 0;
    padding: 10pt;
    color: gainsboro;
}

.reset {
    width: 35pt;
    filter: invert(90%);
}

.help {
    width: 40pt;
    filter: invert(90%);
}

.dots {
    width: 550px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10pt 0;
}

.dots > img:hover {
    filter: invert(30%);
    border: 2px solid rgb(250, 249, 249);
}

.start {
    width: 550px;
    border: 2px solid rgba(220, 220, 220, .5);
}

.dots > img {
    border: 2px solid rgba(220, 220, 220, .5);
    border-radius: 100px;
}

.puzzle {
    position: relative;
    width: 550px;
    margin: auto;
}